In [87]:
import pandas as pd

df= pd.read_csv("/content/drive/MyDrive/Social Network Analysis/eccent.csv")

In [ ]:
df

,Id,Label,timeset,Eccentricity,closnesscentrality,harmonicclosnesscentrality,betweenesscentrality,degree
0,0,0,NaN,50,0.050926,0.078069,15541.533978,3
1,1,1,NaN,51,0.049392,0.075358,10334.674879,3
2,2,2,NaN,52,0.047574,0.071300,2105.180205,2
3,3,3,NaN,52,0.048265,0.073872,7426.229523,3
4,280,280,NaN,53,0.047319,0.074384,6500.809386,3
...,...,...,...,...,...,...,...,...
4169,4175,4175,NaN,33,0.050534,0.059576,0.000000,1
4170,4176,4176,NaN,33,0.050534,0.059576,0.000000,1
4171,4177,4177,NaN,33,0.050534,0.059576,0.000000,1
4172,4179,4179,NaN,32,0.053197,0.063281,0.000000,1
4173,4180,4180,NaN,31,0.056138,0.067336,0.000000,1

In [ ]:
eccentricity=df['Eccentricity']

In [ ]:
eccentricity

0       50
1       51
2       52
3       52
4       53
        ..
4169    33
4170    33
4171    33
4172    32
4173    31
Name: Eccentricity, Length: 4174, dtype: int64

In [ ]:
mean_eccentricity= sum(eccentricity)/len(eccentricity)

In [ ]:
mean_eccentricity

27.982989937709632

In [ ]:
scaled = pd.read_csv("/content/drive/MyDrive/Social Network Analysis/eccent1.csv")

In [ ]:
scaled = scaled[['Source','Target']]

In [ ]:
scaled

      Source  Target
0          0       1
1          2       1
2          3       1
3          3     280
4          4       0
...      ...     ...
5189    4176    4174
5190    4177    4174
5191    4178    4173
5192    4179    4173
5193    4180    4178

[5194 rows x 2 columns]

In [ ]:
scaled.to_csv(r'/content/drive/MyDrive/Social Network Analysis/ffffff.csv',index=False)

In [ ]:
# BC top:	1143-1378-1393-95-1418-1420-1425-94-14-52-1387-1463-1440-50-1575-1388-1349-1576

filtered = scaled[scaled.Node2 != 1143]
filtered = filtered[filtered.Node1 != 1143]

In [ ]:
filtered.to_csv('filtered.csv',index=False)

In [88]:
from pickle import TRUE
import networkx as nx
import numpy as np

G=nx.Graph()
Nodes = np.loadtxt('/content/drive/MyDrive/Social Network Analysis/roadNet-CA.txt', 
                dtype= int, skiprows=4, delimiter='\t')  
print(Nodes)
G.add_edges_from(Nodes)
print(nx.number_connected_components(G))

[[      0       1]
 [      0       2]
 [      0     469]
 ...
 [1971269 1971268]
 [1971277 1971276]
 [1971278 1971276]]
2638

In [ ]:


n={}
try:
    n= nx.betweenness_centrality(G, k=None, normalized=True, weight=None, endpoints=False, seed=None)
except ZeroDivisionError:
    pass
  
print(n)

In [ ]:
G.nodes